    .btn-link{
        border-width: 0px;
    }

    .navbar {
        text-align: center;
    }

    .table {
        margin-top: 20px;
    }

    .headerImg {
        background-color: white;
        background-image: url(img/weinberg.jpg);
        /*Quelle: http://www.euregio-im-bild.de/fotos/1280/weinanbau-auf-der-sophienh-he-obstwiese.jpg*/
        background-size: cover;
        width: 100%;
        height: 200px;
    }

    .btn {
        color: white;
        background-color:  #670A0A;
        border: none;
    }

    .btn:hover {
        background-color: #831515;
    }

    .container {
        background-color: #F8F2E5;
        padding: 20px;
    }
    #navbarContainer {
        background-color: #343A40;
        padding: 0px;
    }

    #wKundennummer {
        margin-bottom: 70px;
    }




    .formButton {
        width: 100%;
        margin-left: 1em;
        margin-right: 1em;
    }

    .btn-secondary {
        margin-right: 1em;
    }
/* .App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}
*/